table,th, td{
    border: 1px solid black;
}

.error-text, .loading-text, .header-cell, .table-story-cell, .buttons, .indexes{
    font-family: Monserrat, sans-serif;
}

.stories-main-container{
    width: 100%;
    height: 90vh;
}

.table-container{
    width:90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 3px solid black;
}

.error-text, .loading-text{
    color: grey;
    font-weight: 200;
    font-size: 1.2em;
    margin-top: 0;
}

.header-cell{
    font-size: 1.2em;
    padding: 5px 10px;
    font-weight: 600;
}

.table-story-cell{
    padding: 5px;
    margin: 0 auto;
    font-weight: 300;
}

.table-story-cell-icon{
    margin: 0 auto;
}

.table-story-cell-name{
    width: 250px;
}

.table-story-cell-stats{
    width: 7%;
}

.table-story-cell-description{
    text-align: left;
    padding-left: 10px;
}

.table-story-cell-name, .table-story-cell-url, .table-story-cell-stats{
    text-align: center;
}

.main-buttons-container{
    display: flex;
    width:30%;
    margin: 10px auto;
    text-decoration: none;
}

.button {
    display: inline-block;
    width: 200%;
    height: 50px;
    color: #FFF;
    border-radius: 10px;
    background-color: rgb(45, 84, 117);
    font-size: 1.3em;
    font-weight: 400;
}

.button-details, .button-chart{
    font-size: 20px;
}

.right-arrow{
    padding-left: 10px;
    font-size: '24px' ;
    font-weight: bold;
    font-style: normal;
}


